*{
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    color: midnightblue;
}

#logo {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: midnightblue;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 50px;
}

#welcomeText {
    display: inline-block;
    position: absolute;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 5px;
    color: midnightblue;
    text-align: justify;
    font-size: 30px;
    font-weight: bold;
    margin-top: 200px;
    margin-left: 50px;
}

.text {
    color: midnightblue;
    font-size: 20px;
    font-weight: bold;
}

#imageContainer {
    display: inline-block;
    position: absolute;
    left: 70%;
    top: 60%;
    transform: translate(-60%,-60%);
    border-radius: 10px;
    width: 800px;
    height: 520px;
}

#introImage {
    display: inline-block;
    width: 800px;
    height: 470px;
    position: absolute;
    top: 28%;
    border-radius: 10px;
}

#search {
    display: inline-block;
    position: absolute;
    top:10%;
    right: 9%;
    font-size: 15px;
}

#menubar {
    color: midnightblue;
    font-size: 30px;
    font-weight: bold;
}

#menubar ul{
    position: absolute;
    top: 5%;
    left: 37%;
}

#menubar ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 30px;
}

#menubar ul li a {
    text-decoration: none;
}

li a:link,
li a:visited,
li a:hover,
li a:active {
    text-decoration: none;
    color: midnightblue;
}

.tableSetting {
    display: inline-block;
    position: absolute;
    color:midnightblue;
    font-size: 20px;
    font-weight: bold;
    border-spacing: 40px;
}

#audio {
    width: 100px;
    height: 20px;

    position: absolute;
    top: 5%;
    right: 10%;
}

#test {
    color: midnightblue;
}

